	
<div class="banner-home">
	<div>
		<div class="col-md-12 text-center">
			<p class="lead">
				
			</p>
			<h1>
				DCrawler Manager
			</h1>
		</div>
	</div>
	<br>
</div>

<div class="banner-home-bottom">
	<div>
		<p>
			Manager tools for Crawler system.
		</p>
	</div>
</div>

<div id="feature-descriptions">
	<h1 class="text-center head-title"><span>Introduction Dcrawler Manager</span></h1>

	<section>
		<div class="center-page">
			<div class="first feature-description">
				<h3 title="Question Designer">As you create your survey, you'll see each question appear in real time.</h3>

				<p>Choose from DSurvey wide range of question types as you create each survey question. You can have as many questions as you want in a survey!</p>
			</div>

		</div>
	</section>

	<section>
		<div class="center-page">
			<div class="first feature-description">
				<h3 title="Question Designer">As you create your survey, you'll see each question appear in real time.</h3>

				<p>Choose from DSurvey wide range of question types as you create each survey question. You can have as many questions as you want in a survey!</p>
			</div>

		</div>
	</section>

</div>

<footer class="text-center">
	(c) 2015 duyetdev
</footer>