	
<div class="banner-home">
	<div>
		<div class="col-md-12 text-center">
			<p class="lead">
				Looking for a simple, powerful online survey tool?
			</p>
			<h1>
				DSurvey is the answer.
			</h1>
		</div>
	</div>
	<br>
</div>

<div class="banner-home-bottom">
	<div>
		<p>
			New Feature: Just beta
		</p>
	</div>
</div>

<div id="feature-descriptions">
	<h1 class="text-center head-title"><span>INTRODUCING DSURVEY</span></h1>

	<section id="question-designer"><div class="center-page"><div class="first feature-description"><h3 title="Question Designer">As you create your survey, you'll see each question appear in real time.</h3><p>Choose from DSurvey wide range of question types as you create each survey question. You can have as many questions as you want in a survey!</p></div></div></section>

	<section id="survey-editor"><div class="center-page"><div class="feature-description"><h3 title="Survey Editor">Edit, move, or preview your survey’s questions instantly.</h3><p>You might want to change the order of your survey's questions. Or maybe you don't remember a question's choices. Easy enough - just go to your survey's Question List to edit, move, or preview your questions instantly.</p></div></div></section>
</div>

<footer class="text-center">
	(c) 2015 LvDuit
</footer>