<section data-ng-controller="QueueRootsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Queue roots</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="queueRoot in queueRoots" data-ng-href="#!/queue-roots/{{queueRoot._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="queueRoot.created | date:'medium'"></span>
				by
				<span data-ng-bind="queueRoot.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="queueRoot.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!queueRoots.$resolved || queueRoots.length">
    	No Queue roots yet, why don't you <a href="/#!/queue-roots/create">create one</a>?
    </div>
</section>