<section class="container">
    <section data-ng-controller="UrlInProcessesController">
        <div class="page-header">
            <h1>Url in processes</h1>
        </div>
    
        <div class="pull-right">
          <a type="button" class="btn btn-success" href="/#!/url-in-processes/create">
            <i class="glyphicon glyphicon-open"></i> New UrlInProcess
          </a>
        </div>
    
        <div>
            <table ng-table="tableParams" show-filter="true">
                <tr ng-repeat="urlInProcess in $data">
                    <td data-title="'Name'" sortable="'name'" filter="{ 'name': 'text' }">{{urlInProcess.name}}</td>
                    <td>
                        <div class="table-actions">
                    <td>
                       <div class="table-actions">
                            <a class="btn btn-default" title="View" href="/#!/url-in-processes/{{urlInProcess._id}}">
                                <span class="glyphicon glyphicon-eye-open"></span>
                            </a>
                            <a class="btn btn-default" title="Edit" href="/#!/url-in-processes/{{urlInProcess._id}}/edit">
                                <span class="glyphicon glyphicon-edit"></span>
                            </a>
                            <a class="btn btn-danger" title="Remove" ng-really-message="Are you sure ?" ng-really-click="remove(urlInProcess)" item="urlInProcess">
                      				<span class="glyphicon glyphicon-remove-circle"></span>
                      			</a>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </section>
</section>