<section class="container">
	<section data-ng-controller="UrlInProcessesController" data-ng-init="toViewUrlInProcess()">
		<div class="page-header">
			<h1 data-ng-bind="urlInProcess.name"></h1>
		</div>
	
		<div class="col-md-12">
	
			<form novalidate>
				<formly-form model="urlInProcess" fields="formFields">
				</formly-form>
			</form>
	
			<hr/>
			<div data-ng-show="((authentication.user) && (authentication.user._id == urlInProcess.user._id))">
				<a class="btn btn-success" href="/#!/urlInProcesses/{{urlInProcess._id}}/edit">
					<i class="glyphicon glyphicon-edit"></i> Edit
				</a>
				<a class="btn btn-danger" title="Remove" ng-really-message="Are you sure ?" ng-really-click="remove()" item="urlInProcess">
					<i class="glyphicon glyphicon-remove-circle"></i> Delete
				</a>
				<a class="btn btn-primary" href="/#!/urlInProcesses">
					<i class="glyphicon glyphicon-list"></i> List UrlInProcesses
				</a>
			</div>
	
		</div>
	
	</section>
</section>